// TYPOGRAPHY

// Font Sizes
$font-size-sm: 0.50rem;
$font-size-md: 1.00rem;
$font-size-lg: 1.50rem;
$font-size-xl: 2.00rem;
$font-size-xxl: 3.00rem;

// Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
