// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-stack: "Roboto", sans-serif;

// Margins
$m-0: 0;
$m-1: 1.00rem;
$m-2: 2.00rem;
$m-3: 3.00rem;
$m-4: 4.00rem;
$m-5: 5.00rem;

// Paddings
$p-0: 0;
$p-1: 1.00rem;
$p-2: 2.00rem;
$p-3: 3.00rem;
$p-4: 4.00rem;
$p-5: 5.00rem;