@use 'reset';
@use 'variables';
@use 'typography';
@use 'utilities';
@use 'base';

html, body {
    overflow-x: hidden;
}

body {
    line-height: 1.50rem;
}

code {
    padding: variables.$p-1;
    display: block;
    width: calc(100% - variables.$p-1 * 2);
    border: 1px solid gray;
}